$main-color: green;
$secondary-color: rgb(5, 130, 255); 

$colors: (
  'main-color': $main-color,
  'secondary-color': $secondary-color
);

$widths:(
  '25': 25%,
  '50': 50%,
  '75': 75%,
  'full': 100%
);

@each $color, $value in $colors {
  .bg-#{$color} {
    background-color: $value;
  };
  .color-#{$color} {
    color: $value;
  }
}

@each $width, $value in $widths {
  .w-#{$width} {
    width: $value;
  }
}

.d-flex{
  display: flex;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ddd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  border: 1px solid #acacac;
  border-radius: 0.5rem;
  padding: 1rem;
}

.bg-peru{
  background-color: peru
}

.bg-red{
  background-color: red
}

.bg-green{
  background-color: green
}

.box, .home-light{
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  flex-direction: column;
}

.light, .home-light-bulb{
  width: 75%;
  height: 75%;
  border-radius: 100%;
  border: 2px solid #333
}


.selector{
  width: 100%;

}